<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Einmal um die Schweiz</title>
    <link rel="stylesheet" href="../assets/css/styles.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <script src="../js/config.js"></script>
  </head>
  <body>
    <div class="container">
      <header>
        <div class="logo-container">
          <a href="../index.html">
            <img
              src="../assets/images/logo_small.png"
              alt="Logo"
              class="logo"
            />
          </a>
        </div>
        <a
          href="./views/login.html"
          class="login-button"
          id="loginButton"
          style="text-decoration: none"
          >Einloggen</a
        >
        <span id="usernameDisplay" style="margin-left: 10px"></span>
      </header>

      <main>
        <section class="archive-challenges-section">
          <h2>Archivierte Challenges</h2>
          <div
            class="archive-challenges-container"
            id="archiveChallengeCards"
          ></div>
          <div class="buttons">
            <a
              href="../index.html"
              class="back-button"
              style="text-decoration: none"
              >Zurück</a
            >
            <div class="buttons">
                <a href="#" id="dashboardButton" class="dashboard-button"
                  >Zum Dashboard</a
                >
              </div>
          </div>
            
            
          </div>
        </section>
      </main>
      <script src="../js/auth.js"></script>
      <script src="../js/scrollPostition.js"></script>
      <script src="../js/archivedChallenges.js"></script>
    </div>
  </body>
</html>
