<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="../assets/css/styles.css" />
    <title>Einmal um die Schweiz Passwort ändern</title>
    <script src="../js/config.js"></script>
  </head>
  <body>
    <div class="container">
      <header>
        <div class="logo-container">
          <a href="../index.html"
            ><img src="../assets/images/logo_small.png" alt="Logo" class="logo"
          /></a>
        </div>
      </header>
      <div class="changepw-card">
        <h2>Passwort ändern</h2>
        <form id="pwResetForm" method="POST">
          <div class="input-group">
            <label for="email">Email-Adresse:</label>
            <input type="email" id="email" name="email" required />
          </div>
          <div class="input-group">
            <label for="oldpassword">Altes Passwort:</label>
            <input
              type="password"
              id="oldpassword"
              name="oldpassword"
              required
            />
          </div>
          <div class="input-group">
            <label for="newpassword">Neues Passwort:</label>
            <input
              type="password"
              id="newpassword"
              name="newpassword"
              minlength="8"
              pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
              title="Das Passwort muss mindestens 8 Zeichen lang sein, mindestens eine Zahl, einen Groß- und Kleinbuchstaben enthalten."
              required
            />
          </div>
          <div class="input-group">
            <label for="repeatpassword">Neues Passwort wiederholen:</label>
            <input
              type="password"
              id="repeatpassword"
              name="repeatpassword"
              required
            />
          </div>
          <div class="input-group">
            <label for="showpassword">
              <input type="checkbox" id="showpassword" />
              Passwort anzeigen
            </label>
          </div>
          <button type="submit" class="login-button">Login</button>
        </form>
        <!-- <div class="login-links">
          <a href="./change-password.html">Passwort vergessen?</a>
          <a href="#">Registrieren</a>
        </div> -->
      </div>
    </div>

    <script src="../js/auth.js"></script>
  </body>
</html>
