<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="../assets/css/styles.css" />
    <title>Passwort ändern</title>
  </head>
  <body>
    <form id="passwordResetForm" method="POST">
      <fieldset>
        <legend>Passwort ändern</legend>
        <label for="email">E-Mail:</label>
        <input type="email" id="email" name="email" required /><br />

        <label for="oldPassword">Altes Passwort:</label>
        <input
          type="password"
          id="oldPassword"
          name="oldPassword"
          required
        /><br />

        <label for="newPassword">Neues Passwort:</label>
        <input
          type="password"
          id="newPassword"
          name="newPassword"
          minlength="8"
          pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
          title="Das Passwort muss mindestens 8 Zeichen lang sein, mindestens eine Zahl, einen Groß- und Kleinbuchstaben enthalten."
          required
        /><br />

        <label for="repeatPassword">Neues Passwort wiederholen:</label>
        <input
          type="password"
          id="repeatPassword"
          name="repeatPassword"
          required
        /><br />

        <label for="showPassword">
          <input type="checkbox" id="showPassword" />
          Passwort anzeigen </label
        ><br />

        <button type="submit">Passwort ändern</button>
      </fieldset>
    </form>

    <script src="../js/auth.js"></script>
  </body>
</html>
