<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../assets/css/styles.css" />
    <title>Dashboard</title>
  </head>
  <body>
    <div class="container">
      <header>
        <div class="logo-container">
          <a href="../index.html"
            ><img src="../assets/images/logo_small.png" alt="Logo" class="logo"
          /></a>
        </div>
        <div class="user-info" id="userNameContainer"></div>
        <button class="logout-button" onclick="logout()">Logout</button>
      </header>

      <main>
        <!-- Active Challenges Section -->
        <section class="dashboard-section">
          <h2>Meine aktiven Challenges</h2>
          <div id="activeChallenges" class="active-challenges">
            <!-- Active challenges will be populated here by JavaScript -->
          </div>
        </section>

        <!-- User Statistics Section -->
        <section class="dashboard-section stats">
          <h3>Meine Statistik</h3>
          <p>Total absolvierte Kilometer: <span id="totalKm"></span></p>
          <p>Total absolvierte Einheiten: <span id="totalHours"></span></p>
          <p>Meine Sportklasse(n): <span id="mySportClasses"></span></p>
          <button class="register-class">Neue Sportklasse registrieren</button>
        </section>

        <!-- Select Challenges Section -->
        <section class="dashboard-section">
          <h2>Aktive Challenges Auswählen</h2>
          <div id="selectChallenges" class="select-challenges">
            <!-- Selectable challenges and sport class dropdown will be populated here by JavaScript -->
          </div>
          <button class="submit-button" onclick="submitSelection()">
            Challenge beitreten
          </button>
        </section>

        <!-- Create New Challenge Section -->
        <section class="dashboard-section">
          <h2>Neue Challenge erstellen</h2>
          <div id="createChallenges" class="create-challenges">
            <!-- New challenges will be populated here by JavaScript -->
          </div>
        </section>
      </main>

      <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
      <script src="js/dashboard.js"></script>
    </div>
  </body>
</html>
